$converter-background-color: #f2f2f2;
$converter-text-color: #333;
$converter-font-family: Arial, sans-serif;
$converter-font-weight: 400;
$converter-font-size: 16px;
$converter-line-height: 1.2;

.converter {
  background-color: $converter-background-color;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .converter-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $converter-text-color;
    font-family: $converter-font-family;
    font-weight: $converter-font-weight;
    font-size: $converter-font-size;
    line-height: $converter-line-height;

    &-input {
      margin-top: 10px;
      padding: 5px;
      border: none;
      border-radius: 5px;
      font-size: $converter-font-size;
      font-family: $converter-font-family;
      background-color: white;
      color: $converter-text-color;

      &:focus {
        outline: none;
        box-shadow: 0 0 2px 2px #007bff;
      }
    }

    &-select {
      background-color: white;
      border: thin solid blue;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;

      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-image: linear-gradient(45deg, transparent 50%, blue 50%),
        linear-gradient(135deg, blue 50%, transparent 50%),
        linear-gradient(to right, skyblue, skyblue);

      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;

      background-size: 5px 5px, 5px 5px, 2.5em 2.5em;

      background-repeat: no-repeat;
      &:focus {
        outline: none;
        box-shadow: 0 0 2px 2px #007bff;
        background-image: linear-gradient(45deg, white 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, white 50%),
          linear-gradient(to right, gray, gray);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
          100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
        border-color: grey;
        outline: 0;
      }

      &-option {
        font-size: $converter-font-size;
        font-family: $converter-font-family;
        color: $converter-text-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .converter {
    flex-direction: column;

    .converter-label {
      width: 100%;
      margin-bottom: 10px;

      &-input,
      &-select {
        width: 100%;
      }
    }
  }
}
